<!-- Toggle Buttons for view  -->
<ng-container *ngIf="surah">
    <mat-button-toggle-group class="sticky_toggle_group" #group="matButtonToggleGroup" [value]="currentView"
        name="surahViewToggleGroup" aria-label="Surah View" (change)="changeView($event.value)">
        <mat-button-toggle class="toggle_button" value="1">ALL</mat-button-toggle>
        <mat-button-toggle class="toggle_button" value="2">AYAH</mat-button-toggle>
        <mat-button-toggle class="toggle_button" value="3">Page</mat-button-toggle>
    </mat-button-toggle-group>
    <!-- Audio Player -->
    <div>
        <app-audio-player #audioElement src="assets\001.ogg"></app-audio-player>
    </div>
    <mat-card class="scrollable-content">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{surah.arabicName}}</mat-card-title>
            <mat-card-subtitle>{{surah.englishName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="currentView==1">
                <div>
                    <span *ngFor="let ayah of surah.ayat">
                        <span class="ayah" (click)="play(i)" *ngFor="let word of ayah.words; index as i">
                            {{word}}
                        </span>
                    </span>
                </div>
            </ng-container>

            <ng-container *ngIf="currentView==2">
                <div>
                    <span class="ayah" (click)="play(i)"
                        *ngFor="let word of surah.ayat[nextPointer].words; index as i; trackBy:trackword">
                        {{word}}
                    </span>
                </div>
            </ng-container>

            <ng-container *ngIf="currentView==3">
                <div>
                    <span (click)="play(i)"
                        *ngFor="let ayah of currentPageAyat; index as i; trackBy:trackword">
                        <span class="ayah" (click)="play(i)" *ngFor="let word of ayah.words; index as i">
                            {{word}}
                        </span>
                    </span>
                </div>
            </ng-container>
        </mat-card-content>
    </mat-card>

    <div *ngIf="currentView==2"> 
        <button mat-raised-button color="accent" class="button" [disabled]="!(previousPointer> -1)" (click)="goPrevious()">السابق</button>
        <button mat-raised-button color="primary" class="button" [disabled]="!(surah.ayat.length-1 > nextPointer)" (click)="goNext()">التالي</button>
    </div>

    <div *ngIf="currentView==3">
        <button mat-raised-button color="accent" class="button" [disabled]="!(currentPageNumber > firstPageNumber)"
            (click)="goPreviousPage()">السابق</button>
        <button class="button" mat-raised-button color="primary" [disabled]="!(currentPageNumber < lastPageNumber)"
            (click)="goNextPage()">التالي</button>
    </div>
</ng-container>