
<mat-toolbar>
  <mat-toolbar-row>
  <ng-container *ngIf="screenService.isSmall |async then menu ;else navVarButtons" ></ng-container>
  <span class="navbar-spacer"></span>
  <!-- stupid angular -->
  <!-- [routerLink]="['/suwar', 'saved']" -->
  <span [hidden]='!showContinueButton'><button mat-raised-button color="primary" class="buttons-groups" (click)="goToSaved($event)">متابعة الحفظ</button></span>
  <button mat-icon-button aria-label="Example icon-button with share icon" (click)="share()">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon" (click)="toggleTheme()">
    <mat-icon>{{mode}}</mat-icon>
  </button>
</mat-toolbar-row>
</mat-toolbar>

<ng-template #navVarButtons>
  <app-nav-bar-button title="الرئيسية" logoName="home" class="buttons-groups" [routerLink]="['/']"></app-nav-bar-button>
  <app-nav-bar-button title="للإقتراحات" logoName="report" class="buttons-groups"
    [routerLink]="['/report']"></app-nav-bar-button>
</ng-template>

<ng-template #menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">
      <mat-icon>home</mat-icon>
      <span>الرئيسية</span>
    </button>
    <button mat-menu-item [routerLink]="['/report']">
      <mat-icon>report</mat-icon>
      <span>للإقتراحات</span>
    </button>
  </mat-menu>
</ng-template>
