<mat-toolbar>
  <button mat-icon-button aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <app-nav-bar-button title="المصحف" logoName="quran-icon" (click)="btnClick()"></app-nav-bar-button>
 <span class="navbar-spacer"></span>
 <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
</mat-toolbar>