<ng-container *ngIf="isLoading then loading"></ng-container>

<ng-container *ngIf="suwar then displayResult"></ng-container>

<ng-container *ngIf="isError then displayError"></ng-container>

<!-- Loading template -->
<ng-template #loading>
      <div id="pluswrap">
            <div class="plus">
                  <mat-spinner class="center" color="accent"></mat-spinner>
            </div>
      </div>
</ng-template>

<!-- In case of results -->
<ng-template #displayResult>
      <app-search-bar (newSearchEvent)="search($event)"></app-search-bar>
      <div *ngIf="suwar" class="buttons-container">
            <div *ngFor="let surah of suwarFiltered$" class="flex-container">
                  <app-surah-list-element [surah]="surah"></app-surah-list-element>
            </div>
      </div>
</ng-template>

<!-- In case of error -->
<ng-template #displayError>
      <app-errors-block message="حدث خطأ أثناء إسترجاع البيانات من الخادم"></app-errors-block>
</ng-template>