<div class='cards'>
    <div class="card">
        <button class="QuranButtonInMain" mat-raised-button routerLink="/suwar">
            <div>
                <h2>القرآن الكريم</h2>
                <hr>
                <img class="quran-image" src="/assets/quran.svg" alt="مصحف">
            </div>
        </button>
    </div>
    <div class="card">
        <h2>أوقات الصلاة لموقعك الحالي</h2>
        <iframe class="{{cssClassName}} iframeS" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/"> </iframe>
    </div>
</div>