/* You can add global styles to this file, and also import other style files */
/* .custom-color-bg-gold{
    background-color: black;
}

.custom-color-text-gold{
    color: goldenrod;
}

.custom-gold-border{
    border-radius: 15px;
    border: 2px solid goldenrod
} */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation{
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}


@font-face{
    font-family: UthmanicHafs;
    font-style: normal;
    src: url('src/assets/fonts/UthmanicHafs1 Ver18.ttf') format('truetype')
}

html, body { height: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
