/* You can add global styles to this file, and also import other style files */

/* Center  */
#pluswrap {
    position: fixed;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    top: 0;
  }
  
  .plus {
    display: flex;
    margin: 0 auto;
  }

@font-face{
    font-family: UthmanicHafs;
    font-style: normal;
    src: url('src/assets/fonts/UthmanicHafs1 Ver18.ttf') format('truetype')
}

html, body { height: auto; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
