<!-- Toggle Buttons for view  -->
<ng-container *ngIf="surah">
    <mat-button-toggle-group class="sticky_toggle_group" #group="matButtonToggleGroup" [value]="currentView"
        name="surahViewToggleGroup" aria-label="Surah View" (change)="changeView($event.value)">
        <mat-button-toggle class="toggle_button" value="1">عرض كامل</mat-button-toggle>
        <mat-button-toggle class="toggle_button" value="2">عرض بالآية</mat-button-toggle>
        <mat-button-toggle class="toggle_button" value="3">عرض بالصفحة</mat-button-toggle>
    </mat-button-toggle-group>
    <!-- Audio Player -->
    <!-- <div>
        <app-audio-player #audioElement src="assets\001.ogg"></app-audio-player>
    </div> -->
    <mat-card class="scrollable-content">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{surah.arabicName}}</mat-card-title>
            <mat-card-subtitle>{{surah.englishName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="currentView==1">
                    <ng-container *ngFor="let ayah of surah.ayat; index as j">
                        <span class="ayah" (click)="openTfsser(j)"> {{ayah.textForHtml}}</span>
                    </ng-container>
            </ng-container>

            <ng-container *ngIf="currentView==2">
                <span class="ayah" (click)="openTfsser(nextPointer)"> {{surah.ayat[nextPointer].textForHtml}}</span>
            </ng-container>

            <ng-container *ngIf="currentView==3">
                    <ng-container *ngFor="let ayah of currentPageAyat; index as i; trackBy:trackword">
                        <span (click)="openTfsser(i + currentPageStartingIndex)" class="ayah">{{ayah.textForHtml}}</span>
                    </ng-container>
            </ng-container>

        </mat-card-content>
    </mat-card>

    <div *ngIf="currentView==2"> 
        <button mat-raised-button color="accent" class="button" [disabled]="!(previousPointer> -1)" (click)="goPrevious()">السابق</button>
        <button mat-raised-button color="primary" class="button" [disabled]="!(surah.ayat.length-1 > nextPointer)" (click)="goNext()">التالي</button>
    </div>

    <div *ngIf="currentView==3">
        <button mat-raised-button color="accent" class="button" [disabled]="!(currentPageNumber > firstPageNumber)"
            (click)="goPreviousPage()">السابق</button>
        <button class="button" mat-raised-button color="primary" [disabled]="!(currentPageNumber < lastPageNumber)"
            (click)="goNextPage()">التالي</button>
    </div>
</ng-container>


<div class="surah-tools">
    <button mat-mini-fab color="accent" title="العودة لأعلى الصفحة" (click)="scrollToTop()">
        <mat-icon>arrow_upward</mat-icon>
    </button>
    <div style="height:10px"> </div>
    <button mat-mini-fab color="accent" title="حفظ للدخول السريع" (click)="save()">حفظ</button>
</div>